<h1>Edit your profile</h1>

<%= form_for @user do |f| %>
	<%= f.text_field :name, placeholder: "Name" %>
	<%= f.text_field :email, placeholder: "Email" %>
	<%= f.submit "Submit" %>
<% end %>



<%= link_to "Back to your profile", user_path %>