<h1> Add a new user </h1>
<%= form_for @user do |f| %>
	<%= f.text_field :name, placeholder: "Name" %>
	<%= f.text_field :email, placeholder: "Email" %>

	<%= f.submit "Add user" %>
<% end %>

<%= link_to "Back to all users", users_path %>

