
<h1> <%= @user.name %>'s Profile Page </h1>

<p> These are <%= @user.name %>'s Cares: </p> 

<%= link_to "Delete #{@user.name}", :user, method: :delete, data: { confirm: 'Are you sure you want to delete your profile?'} %>
<br/>
<h2>Enter Cares here</h2>
<%= form_for [@user, Care.new] do |f| %>
<%= f.text_field :care_item, placeholder: "Write your care item here" %>
<%= f.submit %>
<% end %>

<%= link_to "Back to all users", users_path %>