<!DOCTYPE html>
<html>
<head>
  <title>Care Points</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- nav bar partial -->
	<%= render 'layouts/nav' %>


  <%= yield %>
  <!--pages render here -->
</body>
</html>
